/* GLOBAL */

body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 15pt;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #e8edf3;
    color: #232323;
    /* $background-color */
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.horizontal-container-section {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: #e6cf8b 2px solid;
}

.horizontal-container-section h1 {
    padding-bottom: 40px;
    display: inline-flex;
}

.horizontal-container-section p {
    margin: 0 0 20px 0;
    display: inline-flex;
}

.vertical-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
}

ul {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 35pt;
    color: #438496;
}

h3 {
    color: #015249;
}

a {
    text-decoration: none;
    color: #286da8;
}

a:hover {
    text-decoration: none;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

@media (max-width:500px) {
    body {
        font-size: 12pt;
    }
    .horizontal-container-section {
        padding-left: 10px;
        padding-right: 10px;
    }
    h1 {
        font-size: 30pt;
    }
    h2 {
        font-size: 18pt;
    }
}


/* END GLOBAL */


/* NAVBAR */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    border-radius: 0;
}

.dropdown-menu {
    padding: 0;
    border: 0;
    background-color: #375a7f;
}

.dropdown-menu li a:hover {
    color: #0ce3ac;
}