/* PRESENTATION */

#presentation {
    padding-top: 100px;
}

#presentation-content {
    max-width: 60%;
}

#img1 {
    max-width: 30%;
    max-height: 20vw;
    min-width: 300px;
    min-height: 200px;
}


/* END PRESENTATION */


/* WHERE */

#where-content {
    max-width: 60%;
}

#map-div {
    overflow: hidden;
    width: 700px;
    height: 440px;
}

#gmap_canvas {
    height: 440px;
    width: 700px;
}

@media (max-width: 750px) {
    #map-div {
        width: 80vw;
        height: 440px;
    }
    #gmap_canvas {
        height: 440px;
        width: 80vw;
    }
    #where-content {
        max-width: 80%;
    }
    #presentation-content {
        max-width: 100%;
    }
}


}
#gmap_canvas img {
    max-width: none!important;
    background: none!important
}

/* END WHERE */

/* CONTACTS */
#contacts ul {
    list-style: none;
    margin: 10px 0 10px 0;
}
#contacts p {
    margin: 10px 0 10px 0;
}
#contacts a {
    margin-left: 10px;
}

/* END CONTACTS */

/* OPERATORS */
.operator {
    margin: 10px 0 10px 0;
}
.operator h3 {
    margin: 0;
}
.operator p {
    margin: 0;
}

/* END OPERATORS */

/* TEMP */