body {
    background-color: #232323;
}

#initiatives-div {
    display: flex;
    position: absolute;
    top: 95px;
    /* Header Height */
    bottom: 0px;
    /* Footer Height */
    width: 100%;
}

embed {
    width: 100%;
}